<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
    </style>
  </head>
  <body style=" color:#000; font-family: Arial, Helvetica, sans-serif;
                  line-height:1.8em;">
                  <h2>Dear {{ user.username }}', </h2>
                  <h2>Click on the Link below to recover your password</h2>
                  <a href=http://{{domain}}{{token}}/{{uidb}}><button> Reset Pasword </button></a>
                  <p><strong>&copy;Footer</strong></p>
  </body>
</html>
